<div class="SystemContent_layout_row" style="margin-top:0;">
    <div class="SystemContent_layout_row_title" style="width:60px;">主題</div>
    <input type="text" id="course_title" style="width:500px;">
</div>
<div class="SystemContent_layout_row">
    <div class="SystemContent_layout_row_title">敘述說明</div>
    <input type="text" id="course_description" style="width:500px;">
</div>
<div class="SystemContent_layout_row">
    <div class="SystemContent_layout_row_title">圖示選擇</div>
    <div style="padding-top:10px;float:left;">
        <div>
            <div class="SystemContent_layout_row_OneOption" style="margin-left:0;">
                <img src="@Url.Content("~/Content/Images/PIC1.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon1" id="course_icon1" value="1" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC2.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon2" value="2" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC3.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon3" value="3" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC4.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon4" value="4" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC5.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon5" value="5" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC6.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon6" value="6" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC7.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon7" value="7" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC8.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon8" value="8" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
        </div>
        <div class="clear"></div>
        <div style="margin-top:35px;">
            <div class="SystemContent_layout_row_OneOption" style="margin-left:0;">
                <img src="@Url.Content("~/Content/Images/PIC9.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon9" value="9" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC10.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon10" value="10" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC11.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon11" value="11" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC12.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon12" value="12" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC13.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon13" value="13" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC14.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon14" value="14" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC15.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon15" value="15" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="SystemContent_layout_row_OneOption">
                <img src="@Url.Content("~/Content/Images/PIC16.png")" width="80" height="80">
                <input type="radio" name="course_icon" id="course_icon16" value="16" class="SystemContent_layout_row_ChoseImg_radioBTN">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="SystemContent_layout_row" style="width:375px;margin:0 auto;margin-top:40px;">
    <div class="BTN" style="width:80px;float:left;margin-right:15px;" onclick="ChangeStep(2);">下一步</div>
    <div class="BTN" style="width:140px;float:left;margin-right:15px;" onclick="EditCancel();">返回訓練教室編輯</div>
    <div class="BTN" style="width:80px;float:left;margin-right:15px;" onclick="EditSaveTmp();">跳出並儲存</div>

</div>

<script>
    $(function () {
        $('#step_one').addClass('StepRow_OneStep_active');
        courseData = courseData == null ? {} : courseData;

        if (typeof courseData.Title != "undefined") {
            $('#course_title').val(courseData.Title);
            $('#course_description').val(courseData.Description);
            $('#course_icon' + courseData.Icon).prop('checked', true);
        }
    });
</script>