@model Wei.SysAuth.SysUser
@{
    ViewBag.Title = "修改帳號資料";
    Layout = "~/Areas/SysAuth/Views/Shared/_Layout.cshtml";
}

<div class="contnet_title_layout content_title">修改帳號資料</div>
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>帳號</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <input type="text" id="EditUser_Txt_AccountID" value="@Model.AccountID" disabled />
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>密碼</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <input type="password" id="EditUser_Txt_Password" value="@Model.Password" />
        </div>
    </div>
</div>
<div class="clear"></div>
@*<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>使用者編號</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <input type="text" id="EditUser_Txt_UserNo" value="@Model.UserNo" />
        </div>
    </div>
</div>
<div class="clear"></div>*@
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>暱稱</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <input type="text" id="EditUser_Txt_UserName" value="@Model.Name" />
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>單位名稱</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <div id="EditUser_Ddl_PType"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
@*<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>權限</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <div id="EditUser_Ddl_Title"></div>
        </div>
    </div>
</div>
<div class="clear"></div>*@
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>註記說明</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <input type="text" id="EditUser_Txt_Comment" value="@Model.Comment" />
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>電子信箱</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <input type="text" id="EditUser_Txt_Email" value="@Model.EMail" />
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>備用信箱</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <input type="text" id="EditUser_Txt_backupEmail" value="@ViewBag.BackupEmail" />
        </div>
    </div>
</div>
<div class="clear"></div>
@*<div class="about_content_coulmn_layout">
        <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
            <div>性別</div>
        </div>
        <div class="about_content_coulmnRight_auth about_content_coulmnRight">
            <div>
                <input type="radio" name="Gender" id="EditUser_Rd_Gender1" @((int)Model.Gender == 1 ? "checked" : "") />男
                &nbsp;
                <input type="radio" name="Gender" id="EditUser_Rd_Gender0" @((int)Model.Gender == 0 ? "checked" : "") />女
            </div>
        </div>
    </div>*@
<div class="clear"></div>
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>啟用狀態</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <input type="radio" name="Status" id="EditUser_Rd_Status1" @(Model.Status == Wei.SysAuth.enSysUserStatus.ENABLE ? "checked" : "") />啟用
            &nbsp;
            <input type="radio" name="Status" id="EditUser_Rd_Status0" @(Model.Status == Wei.SysAuth.enSysUserStatus.DISABLE ? "checked" : "") />停用
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnRight_auth about_content_coulmnRight" style="text-align:center;width:960px;margin-left:0px;padding:5px 0 5px 2px;">
        <input type="button" name="Status" id="AddUser_Btn_Edit" value="確認" onclick="SaveEdit()" />&nbsp;
        <input type="button" name="Status" id="AddUser_Btn_Cancel" value="取消" onclick="location.href='@Url.Action("UserSearch", "Organization")'" />
        @*<input type="button" name="Status" id="btn_delete" value="刪除帳號" onclick="DeleteUser()" />&nbsp;*@
    </div>
</div>
<div class="clear"></div>

<script>
    //#region 變數宣告區
    var DeptList = @Html.Raw(Json.Encode(ViewData["DeptList"]));
    var UserTitleList = @Html.Raw(Json.Encode(ViewData["UserTitleList"]));
    var SaveUserUrl = '@Url.Action("SaveUser", "Organization")';
    var DeleteUserUrl = '@Url.Action("DeleteUser", "Organization")';
    var GoEmployeeSearchUrl = '@Url.Action("EmployeeSearch", "Organization")';
    var UserID = '@Model.UserID';
    var DeptID = '@Model.DeptID';
    var TitID = '@Model.TitID';
    //#ednregion

    //#region 程式集
    function SaveEdit() {
        if( $("#EditUser_Txt_AccountID").val()=="")
            alert("請輸入員工帳號!");
        else if( $("#EditUser_Txt_Password").val()=="")
            alert("請輸入員工密碼!");
        //else  if( $("#EditUser_Txt_UserNo").val()=="")
        //    alert("請輸入員工編碼!");
        else  if( $("#EditUser_Txt_UserName").val()=="")
            alert("請輸入員工名稱!");
        else {
            var User={};
            User.UserID = UserID;
            User.AccountID = $("#EditUser_Txt_AccountID").val();
            User.Password = $("#EditUser_Txt_Password").val();
            //User.UserNo = $("#EditUser_Txt_UserNo").val();
            User.Name = $("#EditUser_Txt_UserName").val();
            User.Comment = $("#EditUser_Txt_Comment").val();
            User.DeptID = $("#EditUser_Ddl_PType").val();
            User.TitID = 1;
            User.Email = $("#EditUser_Txt_Email").val();
            User.Status = $("#EditUser_Rd_Status0").prop("checked") ? 0 : 1;
            //User.Gender = $("#EditUser_Rd_Gender0").prop("checked") ? 0 : 1;
            $.ajax({
                url: SaveUserUrl,
                type: "POST",
                dataType: "text",
                data: {
                    data: JSON.stringify(User),
                    Type: 'Edit',
                    backupEmail: $('#EditUser_Txt_backupEmail').val()
                },
                success: function (data) {
                    alert(data == "True" ? '修改成功' : '修改失敗');

                },
                error: function (e) {
                    alert("Error");
                }
            });
        }
    }

    function DeleteUser(){
        var r = confirm("是否刪除此帳號");
        if(r){
            $.ajax({
                url: DeleteUserUrl,
                type: "POST",
                dataType: "text",
                data: { ID: UserID },
                success: function (data) {
                    if(data){
                        alert('刪除成功');
                        location.href='@Url.Action("UserSearch", "Organization")';
                    }else
                        alert('刪除失敗');
                },
                error: function (e) {
                    alert("Error");
                }
            });
        }
    }
    //#endregion

    $(function() {
        initMenu = $(".menu_options_text[class*='Menu_org']");
        $(".menu_options_text[class*='Menu_org']").addClass("menu_active");
        $("#EditUser_Ddl_PType").jqxDropDownList(JqxDdlSetting);
        $("[type=text], [type=Password]").jqxInput(JqxInputSetting);
        $("[type=button]").jqxButton(JqxBtnSetting);
        $("#EditUser_Ddl_PType").jqxDropDownList(GetJqxDdlSetting(DeptList, "DeptID", "DeptName"));
        $("#EditUser_Ddl_PType").jqxDropDownList('insertAt', { label: "最上層", value: -1 }, 0);//塞入最上層
        $("#EditUser_Ddl_PType").jqxDropDownList('selectItem', DeptID);
        $("#EditUser_Ddl_Title").jqxDropDownList(GetJqxDdlSetting(UserTitleList, "TitID", "TilName"));
        $("#EditUser_Ddl_Title").jqxDropDownList('insertAt', { label: "請選擇", value: -1 }, 0);//塞入最上層
        $("#EditUser_Ddl_Title").jqxDropDownList('selectItem', TitID);
    });
</script>
