@model Wei.SysAuth.UserTitle
@{
    ViewBag.Title = "修改角色資料";
    Layout = "~/Areas/SysAuth/Views/Shared/_Layout.cshtml";
}

<div class="contnet_title_layout content_title">權限資料</div>
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>權限代號</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <input type="text" id="EditTitle_Txt_TitleNo" value="@Model.TitNo" />
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>權限名稱</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <input type="text" id="EditTitle_Txt_TitleName" value="@Model.TilName" />
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>權限說明</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <input type="text" id="EditTitle_Txt_Comment" value="@Model.Comment" />
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnLeft_auth about_content_coulmnLeft ">
        <div>啟用狀態</div>
    </div>
    <div class="about_content_coulmnRight_auth about_content_coulmnRight">
        <div>
            <input type="radio" name="Status" id="EditTitle_Rd_Status1" @(Model.RowStatus == 1 ? "checked" : "") />啟用
            &nbsp;
            <input type="radio" name="Status" id="EditTitle_Rd_Status0" @(Model.RowStatus == 0 ? "checked" : "") />停用
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="about_content_coulmn_layout">
    <div class="about_content_coulmnRight_auth about_content_coulmnRight" style="text-align:center;width:960px;margin-left:0px;padding:5px 0 5px 2px;">
        <input type="button" id="btn_edit" value="確認" onclick="SaveEdit();" />&nbsp;
        <input type="button" id="btn_cancel" value="取消" onclick="location.href='@Url.Action("TitleSearch", "Organization")'" />
    </div>
</div>
<div class="clear"></div>

<script>
    //#region 變數宣告區
    var TitleList = @Html.Raw(Json.Encode(ViewData["TitleList"]));
    var GoIndexUrl = '@Url.Action("Index", "Organization")';
    var SavTitleUrl = '@Url.Action("SaveTitle", "Organization")';
    var GoTitleListUrl = '@Url.Action("TitleSearch", "Organization")';
    var TitID = '@Model.TitID';
    //#ednregion

    //#region 程式集
    function SaveEdit() {
        if( $("#EditTitle_Txt_TitleNo").val()=="")
            alert("請輸入職稱編碼!");
        else if( $("#EditTitle_Txt_TitleName").val()=="")
            alert("請輸入職稱名稱!");
        else {
            var Title={};
            Title.TitID=TitID;
            Title.TitNo = $("#EditTitle_Txt_TitleNo").val();
            Title.TilName = $("#EditTitle_Txt_TitleName").val();
            Title.Comment = $("#EditTitle_Txt_Comment").val();
            Title.RowStatus = $("#EditTitle_Rd_Status0").prop("checked") ? 0 : 1;
            $.ajax({
                url: SavTitleUrl,
                type: "POST",
                dataType: "text",
                data: {data: JSON.stringify(Title), Type: 'Edit'},
                success: function (data) {
                    alert(data == "True" ? '修改成功' : '修改失敗');
                },
                error: function (e) {
                    alert("Error");
                }
            });
        }
    }
    //#endregion

    $(function(){
        initMenu = $(".menu_options_text[class*='Menu_org']");
        $(".menu_options_text[class*='Menu_org']").addClass("menu_active");
        $("[type=text]").jqxInput(JqxInputSetting);
        $("[type=button]").jqxButton(JqxBtnSetting);
    });
</script>