@model ASO.Areas.WoodLand.Models.Stereoscopic
@{
    Layout = null;
    string url = Url.Action("LocationCoordMap", "WLMap") + "/?locx=" + Model.LocX1 + "&locy=" + Model.LocY1;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.TitleName</title>
    <script type="text/javascript" src='~/Scripts/jquery-2.2.4.min.js' charset="utf-8"></script>
    <script type="text/javascript" src='~/Scripts/jqx-all.js' charset="utf-8"></script>
    <script type="text/javascript" src='~/Scripts/Common.js' charset="utf-8"></script>
    <script type="text/javascript" src='~/Scripts/jquery-ui.min.js' charset="utf-8"></script>
    <script type="text/javascript" src='~/Scripts/jquery.mousewheel.js' charset="utf-8"></script>
    <script type="text/javascript" src='~/Scripts/jquery.gzoom.js' charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/fontawesome-all.min.js"></script>

    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.gzoom.css" rel="stylesheet" />
    <link href="~/Content/Jqwidgets/jqx.base.css" rel="stylesheet" />
    <link href="~/Content/Jqwidgets/jqx.metro.css" rel="stylesheet" />
    <link href="~/Content/Jqwidgets/jqx.energyblue.css" rel="stylesheet" />
    <link href="~/Content/Jqwidgets/jqx.office.css" rel="stylesheet" />
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body onload="photoclickBySize('@Model.StePairL', '@Model.StePairR','@Model.ImgW','@Model.ImgH','@Model.ID')">

    <div id="jqxwin_solid" style="display:none;">
        <div>
            滑鼠左鍵雙擊像片可另開視窗檢視
        </div>
        <div id="jqxwin_solid_content" style="background:#000;overflow:hidden;">
            @{
                if (Model != null)
                {
                    Html.RenderAction("SolidPhoto");
                }
            }
        </div>
    </div>
    <iframe src="@url" style="width:43%;height:600px;position:absolute;right:30px;top:60px"></iframe>

    <div id="jqxwin_info" style="display:none">
        <div>像對說明</div>
        <div id="jqxwin_info_content">
            <div id="info"></div>

        </div>
    </div>
    <script>
        var btnAnaglyph = $("#btnAnaglyph");
        if (btnAnaglyph.length > 0) {
            btnAnaglyph.click(function () {
                var $url = "@Url.Action("checkSolid_NewTab","Search")";

                var _obj = "";
                $data = {
                    SID:@ViewBag.ID,
                    SortID:@ViewBag.SortID,
                }
                $.ajax({
                    url: $url,
                    type: "POST",
                    data: $data,
                    async: false,
                    success: function (data) {
                        _obj = data
                    }
                });

                if (_obj == "true") {

                    $url = "@Url.Content("~/Search/StereoPhoto_NewTab")";
                    $url += "?SID=@ViewBag.ID";
                    //$url += "&locx=" + $(this).data("locx1");
                    //$url += "&locy=" + $(this).data("locy1");
                    $url += "&SortID=@ViewBag.SortID";

                    window.open($url,"_self");

                } else {
                    alert("無完整相片對。")
                }
            });
        }
    </script>
    <script>
        $(function () {
            $('#jqxwin_solid').jqxWindow({
                minWidth: '793.7px',
                width: 793.7,
                height: 2000,
                resizable: false,
                isModal: false,
                autoOpen: false,
                draggable: false,
                showCloseButton: false,
                position: { x: 30, y: 60 },
            });

            $(document).on('mouseover', '#btn_exchange', function () {
                var _this = $(this);
                var _tipHtml = '<b>提示:</b><br />';
                _tipHtml += '<b>●此功能可以切換像對正立體或反立體</b><br/>';
                _tipHtml += '<b>1.可以選取兩像對旋轉180度</b><br/>';
                _tipHtml += '<b>2.可以選取左右互換</b>'; 
                _this.jqxTooltip({ content: _tipHtml, position: 'mouse', name: 'movieTooltip' });
            });

            $(document).on('mouseover', '#btn_lock', function () {
                var _this = $(this);
                var _tipHtml = '<b>提示:</b><br />';
                _tipHtml += '<b>●可以鎖定像對，可以選擇鎖定左像對或右像對</b><br/>';
                _tipHtml += '<b>1.鎖定左像對時，拖曳右像對「僅能水平移動」</b><br/>';
                _tipHtml += '<b>2.鎖定右像對時，拖曳左像對「僅能水平移動」</b><br/>';
                _tipHtml += '<b>3.點選第二次會回復原來開鎖狀態，兩者像對可以同步移動</b>';
                _this.jqxTooltip({ content: _tipHtml, position: 'mouse', name: 'movieTooltip' });
            });

            $(document).on('mouseover', '#btn_zoomin', function () {
                var _this = $(this);
                var _tipHtml = '<b>提示:</b><br />';
                _tipHtml += '<b>●同時「放大」兩個像對</b><br/>';
                _tipHtml += '<b>可以拖曳兩相對，像對同步移動</b><br/>';
                _tipHtml += '<b>PS.像對在最小的狀態無法拖曳</b><br/>';
                _this.jqxTooltip({ content: _tipHtml, position: 'mouse', name: 'movieTooltip' });
            });

            $(document).on('mouseover', '#btn_zoomout', function () {
                var _this = $(this);
                var _tipHtml = '<b>提示:</b><br />';
                _tipHtml += '<b>●同時「縮小」兩個像對</b><br/>';
                _tipHtml += '<b>可以拖曳兩相對，像對同步移動</b><br/>';
                _tipHtml += '<b>PS.像對在最小的狀態無法拖曳</b><br/>';
                _this.jqxTooltip({ content: _tipHtml, position: 'mouse', name: 'movieTooltip' });
            });

            $(document).on('mouseover', '#btn_enlarge', function () {
                var _this = $(this);
                var _tipHtml = '<b>提示:</b><br />';
                _tipHtml += '<b>●「拉遠」像對框的相對距離(調整眼距)</b><br/>';
                _tipHtml += '<b>調整距離有最大極限</b><br/>';
                _tipHtml += '<b>調整不能使像對重合</b><br/>';
                _this.jqxTooltip({ content: _tipHtml, position: 'mouse', name: 'movieTooltip' });
            });

            $(document).on('mouseover', '#btn_shrink', function () {
                var _this = $(this);
                var _tipHtml = '<b>提示:</b><br />';
                _tipHtml += '<b>●「拉近」像對框的相對距離(調整眼距)</b><br/>';
                _tipHtml += '<b>調整距離有最大極限</b><br/>';
                _tipHtml += '<b>調整不能使像對重合</b><br/>';
                _this.jqxTooltip({ content: _tipHtml, position: 'mouse', name: 'movieTooltip' });
            });

            $(document).on('mouseover', '#btn_print', function () {
                var _this = $(this);
                var _tipHtml = '<b>提示:</b><br />';
                _tipHtml += '<b>●「列印」目前的像對</b><br/>';
                _tipHtml += '<b>列印會依照當前設定做列印</b><br/>';
                _tipHtml += '<b>注意列印頁面的提示設定確保列精準度</b><br/>';
                _this.jqxTooltip({ content: _tipHtml, position: 'mouse', name: 'movieTooltip' });
            });

            $(document).on('mouseover', '#btn_save', function () {
                var _this = $(this);
                var _tipHtml = '<b>提示:</b><br />';
                _tipHtml += '<b>●「儲存」目前的像對設定</b><br/>';
                _tipHtml += '<b>儲存調整後的像對設定</b><br/>';
                _tipHtml += '<b>使得下次使用者進來此頁面時，</b><br/>';
                _tipHtml += '<b>回復上一次儲存設定</b><br/>';
                _this.jqxTooltip({ content: _tipHtml, position: 'mouse', name: 'movieTooltip' });
            });
        });
    </script>
    <script>
        $(function () {
          var $url = "@Url.Action("BaseDataForStereo", "Search")";
          var result = "";
                $data = {
                    ID:@ViewBag.ID,
                }
                $.ajax({
                    url: $url,
                    type: "POST",
                    data: $data,
                    async: false,
                    success: function (data) {
                        result = data
                    }
            });
            $('#compare').html(result);

        });
    </script>
    <script>
        $(function () {
            $('#jqxwin_info').jqxWindow({
                width: 600,
                height: 600,
                resizable: false,
                isModal: false,
                autoOpen: false,
                draggable: true,
                showCloseButton: true,
            });
        });
    </script>
    <script>
        $(function () {


          var $url = "@Url.Action("StereoscopicImageinfo", "Search")";
          var result = "";
                $data = {
                    ID:@ViewBag.ID,
                    SortID:@ViewBag.SortID,
                }
                $.ajax({
                    url: $url,
                    type: "POST",
                    data: $data,
                    async: false,
                    success: function (data) {
                        result = data
                    }
            });
            $('#info').html(result);

        });
    </script>
    <script>
        $('#callinfo').click(function () {
            $('#jqxwin_info').jqxWindow('open');
            $('#jqxwin_info').css('z-index', 9010);
        });
    </script>
</body>
</html>
